#blackbar{
    background-color:#0d0520;
    color: white;
    position: fixed;
    text-align: left;
    font-family:"Segoe UI";
    font-size: 24px;
    height: 60px;
    margin: -115px 0px 0px -10px; /*-115*/
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 1014px;
    
}

#blackbar li{
    display: inline;
    
}

#by-victor{
    font-size: 16px;
    padding-left: 10px;
}

#main{
    background-color: #EAE7E7;
    
    min-width: 400px;
    width: 95%;
    margin: auto;
    margin-top: 100px; /*100*/
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    position: static;
    font-family:"Segoe UI";
    line-height: 24px;
    font-size: 16px;
}


#title{
    font-size: 40px;
    position: relative;
}

#img-div{
    background-color: white;
    padding:20px;
}

#image{
    max-width: 100%;
    height: auto;
    /* 
    display:block; 
    margin: 0 auto;
    */
}

#tribute-info{
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    
}

#tribute-heading  {
   font-weight: bold; 
   margin: 50px 0px;
   text-align: center;
   font-size: 20px;
}

#tribute-info li{
    font-weight: normal; 
    margin: 0px 0px 20px 0px; /* margin-bottom: 20px; */
    text-align: left;
    font-size: 16px;
}

#quote{
    font-style: italic;
    margin-bottom: 40px;
}

#remark p{
    font-size: 16px;
    font-weight: bold;
}

#tribute-link{
    color: cadetblue;
}